beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.1.1
cycler==0.12.1
fonttools==4.56.0
frozendict==2.4.6
idna==3.10
importlib-resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
mplfinance==0.12.10b0
multitasking==0.0.11
numpy==1.24.4
packaging==24.2
pandas==2.0.3
pandas-ta==0.3.14b0
peewee==3.17.9
pillow==10.4.0
platformdirs==4.3.6
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
scipy==1.10.1
six==1.17.0
soupsieve==2.6
typing-extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
yfinance==0.2.54
zipp==3.20.2
